@mixin panel {
	border: 1px solid white;
	margin: 0;
	padding: 0;
	background-color: rgba(0,0,0,0.6);
}

div.game
{
	background-color: black;
	background-image: url('images/background.png');
	width: 1024px;
	height: 768px;
	padding: 0;
}

div.panel
{
	@include panel;
}