div.game {
  background-color: black;
  background-image: url("images/background.png");
  width: 1024px;
  height: 768px;
  padding: 0; }

div#browserNotSupported {
  display: none;
  background-color: #eee;
  border: 1px solid black;
  padding: 1em; }
